<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
  <span class="float-right" style="color:#fff; float-right"> Hi {{currentUser.user}} from APP Module</span>
</nav>
<!-- main app container -->
<div class="">
    <div class="container-fluid">
        
           
                <alert></alert>
                <router-outlet></router-outlet>
            
        
    </div>
</div>

